*{
    background: lightgrey;
}
header *, footer *{
    background-color: transparent;
}

/*Estilos del main*/
main{
    background-color: #ffffff; /* Fondo blanco para el cuadro */
    max-width: 800px;          /* Ancho máximo del cuadro */
    margin: 0px auto;         /* Centrado vertical y horizontal */
    padding: 30px;             /* Espaciado interno */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Times New Roman', Times, serif;
}

main *{
    background-color: transparent;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Estilos de las imagenes*/
main img{
    width: 100%;         /* La imagen ocupará todo el ancho del contenedor */
    height: auto;        /* Mantiene la proporción original */
    display: block;      /* Elimina espacios en blanco debajo de la imagen */
    max-width: 100%;     /* Evita que se desborde si es más grande */
    border-radius: 6px;  /* Opcional: bordes redondeados si deseas */
}

/*Acordeon*/
.acordeon {
    max-width: 100%;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

details {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background-color: #f9f9f9;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

details[open] summary {
    color: blue;
}